.cardDetailContainer {
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    padding: 1% 5% 1%;
}

.arcaneNameTitle {
    font-size: 1.15em;
    border-bottom: 2px solid var(--aGreen);
    display: inline-block;
}

.cardFullWidth {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #fff;
    border: 2px double var(--aLightYellow);
    padding: 1.5rem 1rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.arcaneImage {
    margin-left: 5%;
    max-width: 300px;
    width: 100%;
    border: 1px solid var(--aLightBlue);
    border-radius: 15px;
    filter: drop-shadow(5px 5px 5px var(--pBlack));
}

.goddessImage {
    margin-right: 5%;
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    border: 1px solid var(--aLightBlue);
    border-radius: 15px;
}


.arcaneImage:hover,
.goddessImage:hover {
    cursor: zoom-in;
}

.arcaneName,
.goddessName {
    color: var(--pBlue);
    margin-bottom: 3%;
}

.arcaneDescriptionContainer,
.goddessDescriptionContainer {
    margin: 0% 3%;
}

.arcaneDescription,
.goddessDescription {
    color: var(--pBlack);
    text-align: left;
}

.nextButton,
.previousButton {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--aSalmon);
    font-size: 2em;
    font-family: 'Aboreto', serif;
    display: inline-flex;
    align-items: center;
    gap: 0.3em;
}

.loadingText {
    text-align: center;
    color: var(--pBlack);
    font-size: 1.2rem;
    margin-top: 2rem;
}

.pageTitle {
    text-align: center;
    color: var(--pBlue);
    margin-bottom: 2rem;
}

.returnContainer {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.imageModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalContent {
    position: relative;
    background: #fff;
    padding: 2.7rem 1rem 1rem;
    border-radius: 10px;
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalImage {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
    object-fit: contain;
}

.modalTitle {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    color: var(--pBlue);
    font-family: "Mullingar", serif;
    font-size: 2.5em;
}

.modalClose {
    position: absolute;
    top: 0.1rem;
    right: 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.2rem;
    transition: color 1s;
}

.modalClose:hover {
    color: var(--aRed);
} 

@media (max-width: 768px) {
    .cardDetailContainer {
        margin: 0;
        padding: 0 0 20px;
    }

    .cardFullWidth {
        border: none;
        border-top: 2px double var(--aLightYellow);
        border-bottom: 2px double var(--aLightYellow);
        padding: 1em 0;
        border-radius: 0;
        display: block;
    }

    .arcaneDescriptionContainer,
    .goddessDescriptionContainer {
        padding: 1% 8%;
    }

    .arcaneImage {
        margin: 0;
    }

    .goddessImage {
        margin: 10px auto 0px;
        border: none;
    }

    .nextButton,
    .previousButton {
        font-size: 1.6em;
        gap: 0.3em;
    }

    .returnContainer {
        width: 100%;
        text-align: center;
    }

}