.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0 2rem;
  position: relative;
}

.cardBack {
  width: 150px;
  height: auto;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px var(--pBlack));
  transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out;
  transform-origin: center center;
}

.cardsContainer a:hover .cardBack {
  transform: scale(1.2) rotate(0deg);
  z-index: 2;
}

@media (max-width: 768px) {
  .cardBack {
    width: 180px;
  }
}