.positionsContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.position {
  width: 30%;
  text-align: center;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.cardBack {
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease, border 0.2s ease;
  filter: drop-shadow(5px 5px 5px var(--pBlack));
}

.cardBack:hover {
  transform: scale(1.05);
}

.cardImage {
  width: 150px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 2rem auto;
}

.returnContainer {
  margin: 2rem auto 1rem;
  width: 100%;
  text-align: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  color: black;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 90vh;
}

.modalTitle {
  color: var(--aGreen);
  font-family: 'Aboreto', serif;
  text-align: center;
}

.readingCard {
  margin-bottom: 20px;
  text-align: center;
}

.readingCard img {
  max-width: 150px;
  display: block;
  margin: 0 auto 10px;
}

.arcaneDescription,
.goddessDescription {
  text-align: left;
}

.borderPast {
  border: 4px solid var(--aLightYellow);
  border-radius: 8px;
}

.borderPresent {
  border: 4px solid var(--aLighGreen);
  border-radius: 8px;
}

.borderFuture {
  border: 4px solid var(--aLightBlue);
  border-radius: 8px;
}

.titlePast {
  color: var(--aLightYellow);
}

.titlePresent {
  color: var(--aLighGreen);
}

.titleFuture {
  color: var(--aLightBlue);
}

@media (max-width: 768px) {
  .buttonsContainer {
    gap: 1rem;
    margin: 2rem auto 0.5rem;
  }
}