.footer {
  background-color: var(--BlackBG);
  color: var(--pYellow);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 2px solid var(--pYellow);
  font-family: "Aboreto", sans-serif;
}

.text {
  font-size: 0.9rem;
  margin: 0;
  letter-spacing: 1px;
}
