.navbar {
    font-family: 'Aboreto', sans-serif;
    font-size: 2em;
    padding: 2% 5% 0;
}

.navbar ul {
  display: flex;
  gap: 20px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #ffff;
}
