.navbar {
  font-family: 'Aboreto', sans-serif;
  font-size: 2em;
  padding: 2% 5% 0;
  position: relative;
}

/* Menú por defecto (desktop) */
.menu {
  display: flex;
  gap: 20px; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  background: linear-gradient(
    to bottom,
    var(--sLilac) 0%,
    var(--sLilac) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1px 0px;
  transition: background-size 0.9s;
  padding: 10px;
}

.menu li a:hover {
  background-size: 5px 55px;
  cursor: pointer;
}


a {
  color: #000;
  text-decoration: none;
  background: linear-gradient(
    to bottom,
    var(--linkHover) 0%,
    var(--linkHover) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 5px 3px;
  transition: background-size 0.7s;
}
a:hover {
  background-size: 5px 55px;
  cursor: alias;
}


/* Botón hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
  margin-top: 5px;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Estado abierto (X) */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px);
}

.activeLink {
  border-bottom: 3px solid var(--sPurple); 
}


@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 8px;
    z-index: 5;
  }

  .menu.open {
    display: flex;
  }
}
