@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&family=Aboreto&display=swap');

/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html,
body {
  overflow: auto;
}

ol,
ul {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box;
}


/* COLOR PALETTE */
:root {
  /* Primary colors */
  --pRed: #b56576;
  --pYellow: #eaac8b;
  --pBlue: #355070;
  --pBlack: #1c1c1c;
  --BlackBG: #252525;
  /* Secondary colors */
  --sPink: #df9dd6;
  --sPurple: #8d67a6;
  --sLilac: #6d597a;
  --sBlue: #8ca5cc;
  /* Accent and Arcana colors */
  --aRed: #d63c2f;
  --aGreen: #338889;
  --aSalmon: #d64b3e;
  --aLighGreen: #b7b785;
  --aLightBlue: #a1c4ca;
  --aLightYellow: #eccf74;

  font-family: Murecho, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "MvokyDemo";
  src: url("./assets/fonts/MvokyDEMO-ExtraBlack.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mullingar";
  src: url("./assets/fonts/Mullingar-lgKPw.otf") format("opentype"),
    url("./assets/fonts/Mullingar-nRgnO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Murecho', serif;
  line-height: 1.3;
  background: #EAAC8B;
  background: radial-gradient(circle, rgba(234, 172, 139, 1) 10%, rgba(219, 86, 86, 1) 90%);
}

.mainContainer {
  max-width: 100vw;
  /* min-height: 100vh; */
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}

h1 {
  font-family: "MvokyDemo", serif;
  font-size: 2.7em;
  line-height: 1.1;
  color: var(--sLilac);
  text-transform: uppercase;
  cursor: default;
}

.pageTitle {
  margin: 1% 5% 0%;
}
.pageIntro {
  margin: 1% 5%;
}

h2 {
  font-family: "Mullingar", serif;
  font-size: 2.5em;
}

h3 {
  font-family: "Mullingar", serif;
  font-weight: 500;
}

p, li {
  font-size: 1.2em;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading {
  animation: fadeInPage 1s ease-out;
}


@media (max-width: 768px) {
  .pageTitle,
  .pageIntro {
    margin: 5% 5%;
    text-align: center;
  }
}